<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Presentation Planner (or smth like that)</title>

    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/calendar.css">
    <link rel="stylesheet" href="../css/add-event.css">
    <link rel="stylesheet" href="../css/select-time-box.css">

    <script src="../js/addEvent.js" defer></script>
    <script src="../js/addEventModal.js" defer></script>
    <script src="../js/showEvents.js" defer></script>
</head>

<body class="center">
    <header class="logo-header container">
        <img id="logo" src="../img/logo.png"></img>
        <p id="logo-title">Schedule it</p>
    </header>
    <nav class="nav" id="navigation">
        <a class="nav-item" href="profile.html">Profile</a>
        <a class="nav-item" href="calendar.html">Calendar</a>
        <a class="nav-item" href="add-event.html">Add slots</a>
    </nav>
    <main>
        <div class="container">
            <section class="calendar">
                <header class="calendar_header">
                    <h1 id="header-title" class="header_title">WEB презентации</h1>
                    <!-- <p class="header_copy">Тук може да се запишете за защитите на проекти по WEB</p> -->
                </header>
                <article class="calendar_plan">
                    <div class="cl_plan">
                        <!-- <div class="cl_title">Today</div> -->
                        <div id="date" class="cl_copy">22-04-2020</div>
                        <i id="enroll_day1" class="cl_add">+</i>
                    </div>
                </article>
                <article id="calendar-events" class="calendar_events">
                    <p class="ce_title">Current delay is...</p>
                </article>
            </section>
        </div>
        <!-- The Modal -->
        <section id="myModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2 id="modal-title">{date} {name}</h2>
                </div>
                <div class="modal-body">
                    <p>Please, select your time to present:</p>
                    <select id="select-time">
                        <option value="0">09:15 - 09:30</option>
                        <option value="0">09:30 - 09:45</option>
                        <option value="0">10:15 - 10:30</option>
                        <option value="0">10:30 - 10:45</option>
                        <option value="0">10:45 - 11:00</option>
                    </select>
                    <p>Enter your subject:</p>
                    <input class="center" type="text" id="subject" placeholder="Subject" required>
                    <button id="add-event-btn" class="orange-buttons">Save</button>
                </div>
            </div>
        </section>
    </main>
</body>

</html>