<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login-register.css">
    <title>Presentation Planner (or smth like that)</title>
</head>
<body>
    <nav></nav>
    <main>
        <div class="panel-forms login-register-content center-screen">
            <section id="login-panel" class="panels">
                <article id="login-content">
                    <form action="" id="login-form">
                        <fieldset id="login-inputs">
                            <legend class="panel-heading">Login</legend>
                            <input type="text" name="login-username" id="login-username" placeholder="Username" required>
                            <input type="number" name="login-faculty-number" id="login-faculty-number" placeholder="Faculty number" required>
                            <input type="password" name="login-password" id="login-password" placeholder="Password" required>
                            <div id="register-failure" class="hidden">
                                <strong id="register-failure-text">Error!</strong>
                            </div>
                            <button id="login-button" class="panel-buttons">Login</button>
                            <a class="panel-links" href="register.html">Register now!</a>
                        </fieldset>
                    </form>
                </article>
            </section>
        </div>
    </main>
</body>
</html>