<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/login-register.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/profile.css">
    <link rel="stylesheet" type="text/css" href="../css/snackbar.css">
    <script type="text/javascript" src="../js/profile.js" defer></script>
    <title>Presentation Planner (or smth like that)</title>
</head>

<body class="center">
    <header class="logo-header container">
        <img id="logo" src="../img/logo.png"></img>
        <p id="logo-title">Schedule it</p>
    </header>
    <nav class="nav" id="navigation">
        <a class="nav-item" href="profile.html">Profile</a>
        <a class="nav-item" href="calendar.html">Calendar</a>
        <a class="nav-item" href="add-event.html">Add event</a>
    </nav>
    <main>
        <section id="profile" class="login-register-content">
            <h2 id="welcome-prompt">Welcome, </h2>
            <div class="flex-box">
                <span class="inlined" id="username">Username: </span>
                <button id="change-username-button" class="orange-buttons">Change</button>
            </div>
            <div id="username-form" class="flex-box hidden">
                <input type="text" id="new-username" name="new-username" placeholder="New username">
                <button id="save-username-button" class="orange-buttons">Save</button>
            </div>
            <div class="flex-box">
                <span class="inlined" id="email">Email: </span>
                <button id="change-email-button" class="orange-buttons">Change</button>
            </div>
            <div id="email-form" class="flex-box hidden">
                <input type="email" id="new-email" name="new-email" placeholder="New email">
                <button id="save-email-button" class="orange-buttons">Save</button>
            </div>
            <span id="role">Role: </span>
            <div id="change-failure" class="hidden">
                <span id="failure-message">Error!</span>
            </div>
            <div id="passwords" class="hidden">
                <input type="password" id="current-password" name="current-password" placeholder="Current password">
                <input type="password" id="new-password" name="new-password" placeholder="New password">
                <input type="password" id="confirm-new-password" name="confirm-new-password"
                    placeholder="Confirm new password">
            </div>
            <div class="flex-box" id="bottom-buttons">
                <button id="change-password-button" class="orange-buttons">Change password</button>
                <button id="logout-button" class="panel-buttons orange-buttons">Logout</button>
            </div>
        </section>
        <section id="snackbar"></section>
    </main>
</body>

</html>