<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/login-register.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/profile.css">
    <link rel="stylesheet" type="text/css" href="../css/snackbar.css">
    <script type="text/javascript" src="../js/profile.js" defer></script>
    <title>Presentation Planner (or smth like that)</title>
</head>

<body class="center">
    <header class="logo-header container">
        <img id="logo" src="../img/logo.png"></img>
        <p id="logo-title">Schedule it</p>
    </header>
    <nav class="nav" id="navigation">
        <a class="nav-item" href="views/profile.html">Profile</a>
        <a class="nav-item" href="views/calendar.html">Calendar</a>
        <a class="nav-item" href="views/calendar.html">Add a event</a>
    </nav>
    <main>
        <section id="profile" class="login-register-content">
            <h2 id="welcome-prompt">Welcome, </h2>
            <p id="username">Username: </p>
            <p id="email">Email: </p>
            <p id="role">Role: </p>
            <button id="logout-button" class="panel-buttons">Logout</button>
        </section>
        <!-- <section id="snackbar"></section> -->
    </main>
</body>

</html>